<section class="user-categories-page">
  <div class="container">
    <div class="categories row">
      <div class="categorie-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card-img">
          <img
            src="../../../assets/images/animes/hxh.webp"
            loading="lazy"
            alt=""
          />
        </div>
        <div class="card-disc">
          <div class="card-disc-title">Animes categorie</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          consequatur officiis adipisci error deleniti repellendus suscipit
          deserunt amet facilis soluta? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ipsum rem veniam labore unde placeat similique quia
        </div>
        <div class="footer">
          <div class="footer-btn">
            <button
              type="button"
              class="bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 rounded"
              routerLink="/user/anime/home"
            >
              Enter
            </button>
          </div>
          <div class="footer-info" id="animes">
            <i class="bx bx-info-circle"></i>
          </div>
        </div>
      </div>
      <div class="categorie-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card-img">
          <img
            src="../../../assets/images/movies/bg-jhon-wick.jpg"
            loading="lazy"
            alt=""
          />
        </div>
        <div class="card-disc">
          <div class="card-disc-title">Movies categorie</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          consequatur officiis adipisci error deleniti repellendus suscipit
          deserunt amet facilis soluta? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Ipsum rem
        </div>
        <div class="footer">
          <div class="footer-btn">
            <button
              type="button"
              class="bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 rounded"
            >
              Enter
            </button>
          </div>
          <div class="footer-info" id="movies">
            <i class="bx bx-info-circle"></i>
          </div>
        </div>
      </div>
      <div class="categorie-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card-img">
          <img
            src="../../../assets/images/series/bg-breaking bad.jpg"
            loading="lazy"
            alt=""
          />
        </div>
        <div class="card-disc">
          <div class="card-disc-title">Series categorie</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          consequatur officiis adipisci error deleniti repellendus suscipit
          deserunt amet facilis soluta? Lorem ipsum dolor sit amet consectetur
        </div>
        <div class="footer">
          <div class="footer-btn">
            <button
              type="button"
              class="bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 rounded"
            >
              Enter
            </button>
          </div>
          <div class="footer-info" id="series">
            <i class="bx bx-info-circle"></i>
          </div>
        </div>
      </div>
      <div
        class="add-categorie-card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      >
        <div class="add-card-icon">
          <i class="bx bx-plus"></i>
        </div>
        <div class="card-disc">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
          consequatur officiis adipisci error deleniti repellendus suscipit
        </div>
        <div class="footer">
          <div class="footer-btn">
            <button
              style="color: black"
              type="button"
              class="bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 rounded"
            >
              Add new categorie
            </button>
          </div>
          <div class="footer-info" id="add-categorie">
            <i class="bx bx-info-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
