<section class="sidebar-content">
  <div class="sidebar close">
    <div class="sidebar-logo">Logo</div>
    <ul class="nav-links">
      <div class="nav-container">
        <li>
          <a routerLink="../user/home">
            <i class="bx bx-grid-alt"></i>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" routerLink="../user/home">Dashboard</a>
            </li>
          </ul>
        </li>

        <li>
          <div class="iocn-link">
            <a>
              <i class="bx bxs-user-detail"></i>
            </a>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name">Coachs</a></li>
            <li><a routerLink="../user/showcoachs">Show coachs</a></li>
            <li><a routerLink="../user/coach-program">Show programms</a></li>
          </ul>
        </li>

        <li>
          <a>
            <i class="bx bx-cog"></i>
          </a>
          <ul class="sub-menu blank">
            <li>
              <a class="link_name" routerLink="../user/user-settings"
                >Setting</a
              >
            </li>
          </ul>
        </li>

        <li class="logout">
          <a>
            <i class="bx bx-log-out"></i>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Logout</a></li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</section>

