<section class="anime-details-page-content">
  <div class="content center-all">
    <div class="anime-info">
      <!-------------------------------------------- anime info ----------------------------------------------->
      <div>
        <div class="row">
          <div class="anime-img center-v col-sm-12 col-md-4 col-lg-4 col-xl-3">
            <div>
              <img
                src="../../../../../../assets/images/animes/one-piece.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="anime-disc col-sm-12 col-md-8 col-lg-8 col-xl-9">
            <div class="anime-title fs-big fw-8 mb-2">One Piece</div>
            <div class="anime-categorie mb-15 fs-global fw-8 row">
              <div
                class="categorie col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 ta-center"
              >
                <div>Adventure</div>
              </div>
              <div
                class="categorie col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 ta-center"
              >
                <div>Action</div>
              </div>
              <div
                class="categorie col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 ta-center"
              >
                <div>Drama</div>
              </div>
              <div
                class="categorie col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 ta-center"
              >
                <div>Comedy</div>
              </div>
            </div>
            <div class="anime-story fs-global">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia
              tempore exercitationem iste, sapiente enim assumenda cumque
              veritatis odit aspernatur sunt alias quisquam dolore minima.
              Temporibus ad, a, fugit cupiditate id non deserunt modi saepe
              impedit molestiae ratione ullam quis quos! citationem iste,
              sapiente enim assumenda cumque veritatis odit aspernatur sunt
              alias quisquam dolore minima. Temporibus ad, a, fugit cupiditate
              id non deserunt modi saepe impedit molestiae ratione ullam quis
              quos!
            </div>
          </div>
        </div>
      </div>

      <!-------------------------------------------- related anime -------------------------------------------->
      <div class="related mb-4">
        <div class="related-header center-between">
          <div class="related-title pt-1">
            <div class="fs-medium fw-8">Related Animes</div>
          </div>
          <div class="related-buttons center-between">
            <div>
              <i class="bx bx-left-arrow-alt fw-8 pl-2 pr-2 pt-1 pb-1"></i>
            </div>
            <div class="ml-3">
              <i class="bx bx-right-arrow-alt fw-8 pl-2 pr-2 pt-1 pb-1"></i>
            </div>
          </div>
        </div>
        <div class="row pt-4 dark-bg">
          <div
            class="center-v related-card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3"
          >
            <div>
              <div class="related-card-img">
                <img
                  src="../../../assets/images/animes/onepiece_mv6.jpg"
                  alt=""
                />
              </div>
              <div class="related-card-title center-v">
                <div>One piece</div>
              </div>
            </div>
          </div>
          <div
            class="center-v related-card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3"
          >
            <div>
              <div class="related-card-img">
                <img
                  src="../../../assets/images/animes/onepiece_mv2.jpg"
                  alt=""
                />
              </div>
              <div class="related-card-title center-v">
                <div>One piece : Alabasta</div>
              </div>
            </div>
          </div>
          <div
            class="center-v related-card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3"
          >
            <div>
              <div class="related-card-img">
                <img
                  src="../../../assets/images/animes/onepiece_mv3.jpg"
                  alt=""
                />
              </div>
              <div class="related-card-title center-v">
                <div>One piece : Z</div>
              </div>
            </div>
          </div>
          <div
            class="center-v related-card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3"
          >
            <div>
              <div class="related-card-img">
                <img
                  src="../../../assets/images/animes/onepiece_mv4.jpg"
                  alt=""
                />
              </div>
              <div class="related-card-title center-v">
                <div>One piece : Gold</div>
              </div>
            </div>
          </div>
          <div
            class="center-v related-card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3"
          >
            <div>
              <div class="related-card-img">
                <img
                  src="../../../assets/images/animes/onepiece_mv5.jpg"
                  alt=""
                />
              </div>
              <div class="related-card-title center-v">
                <div>One piece : Strong World</div>
              </div>
            </div>
          </div>
          <div
            class="center-all related-card col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-3"
          >
            <div>
              <div class="related-card-img center-v">
                <div>
                  <img
                    src="../../../assets/images/animes/onepiece_mv1.jpg"
                    alt=""
                  />
                </div>
              </div>
              <div class="related-card-title center-v">
                <div>One piece : Chopper</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-------------------------------------------- anime main caracters ------------------------------------->
      <div class="caracters">
        <div class="caracter-header center-between">
          <div class="caracter-title pt-1">
            <div class="fs-medium fw-8">Main Caracters</div>
          </div>
          <div class="caracters-buttons center-between">
            <div>
              <i class="bx bx-left-arrow-alt fw-8 pl-2 pr-2 pt-1 pb-1"></i>
            </div>
            <div class="ml-3">
              <i class="bx bx-right-arrow-alt fw-8 pl-2 pr-2 pt-1 pb-1"></i>
            </div>
          </div>
        </div>
        <div class="row dark-bg pt-4 pl-4">
          <div
            class="caracters-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex mb-4"
          >
            <div class="caracter-img">
              <img
                src="../../../../../../assets/images/animes/luffy.jpg"
                alt=""
              />
            </div>
            <div class="caracter-name center-h ml-2">
              <div>Monkey D Luffy</div>
            </div>
          </div>
          <div
            class="caracters-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex mb-4"
          >
            <div class="caracter-img">
              <img
                src="../../../../../../assets/images/animes/zoro.jpg"
                alt=""
              />
            </div>
            <div class="caracter-name center-h ml-2">
              <div>Roronoa Zoro</div>
            </div>
          </div>
          <div
            class="caracters-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex mb-4"
          >
            <div class="caracter-img">
              <img
                src="../../../../../../assets/images/animes/sanji.jpg"
                alt=""
              />
            </div>
            <div class="caracter-name center-h ml-2">
              <div>Sanji</div>
            </div>
          </div>
          <div
            class="caracters-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex mb-4"
          >
            <div class="caracter-img">
              <img
                src="../../../../../../assets/images/animes/usopp.png"
                alt=""
              />
            </div>
            <div class="caracter-name center-h ml-2">
              <div>Usopp</div>
            </div>
          </div>
          <div
            class="caracters-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex mb-4"
          >
            <div class="caracter-img">
              <img
                src="../../../../../../assets/images/animes/nami.jpg"
                alt=""
              />
            </div>
            <div class="caracter-name center-h ml-2">
              <div>Nami</div>
            </div>
          </div>
          <div
            class="caracters-item col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex mb-4"
          >
            <div class="caracter-img">
              <img
                src="../../../../../../assets/images/animes/chopper.jpg"
                alt=""
              />
            </div>
            <div class="caracter-name center-h ml-2">
              <div>Chopper</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="black-div"></div>
