<section class="anime-home-page-content dark-bg" style="min-height: 100vh">
  <div class="content">
    <div class="home-navbar center-between row p-4">
      <div class="searchbar col-8">
        <form class="flex items-center">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-gray-500 dark:text-gray-400"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </div>
            <input
              type="text"
              id="simple-search"
              class="bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search"
              required
            />
          </div>
        </form>
      </div>
      <div class="profil col-4 col-sm-2 col-md-2 col-lg-4 text-right">
        <div class="profil-img">
          <img src="../../../../../../assets/images/common/image (16).png" alt="">
        </div>
      </div>
    </div>
    <div class="home-all-animes center-all">
      <div
        class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-7 gap-4"
      >
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/aot.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Attack On Titan</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/hxh.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Hunter X Hunter</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/demonslayer.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Demon Slayer</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/dragonball.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Dragon Ball Z</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/bleach_2.jfif"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Bleach</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/one-piece.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">One Piece</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/naruto.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Naruto Shippuden</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/blackclover.jfif"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Black Clover</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/deathnote.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Death Note</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/slamdunk.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Slam Dunk</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/neverland.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">
                The Promised Neverland
              </div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/bokunohero.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">My Hero Academia</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/fullmetal.jpg"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">
                Full Metal Archimist
              </div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
        <div
          class="anime-card w-[160px] h-[17.5rem] light-bg p-2 center-between"
        >
          <div class="w-full h-full">
            <div class="anime-card-img">
              <img
                src="../../../../../../assets/images/animes/ippo.jfif"
                alt=""
              />
            </div>
            <div class="anime-card-disc">
              <div class="anime-card-title mb-1 text-sm">Hajimi No Ippo</div>
              <div class="anime-rating center-h text-sm">
                <div>9.1</div>
                <i class="bx bxs-star cl-orange"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
