.profil {
  width: 3rem;
  height: 3rem;
}
.profil-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.anime-card {
  border-radius: 8px;
}
.anime-card-img {
  width: 100%;
  height: 80%;
}
.anime-card-img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.anime-card-title {
  margin-top: 5px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.anime-rating div {
  font-weight: 700;
  margin-right: 4px;
}
