<section class="login-page bg-slate-900">
  <div class="container">
    <div class="content row">
      <div class="col-sm-12">
        <div class="login-bg">
          <img src="../../../assets/images/common/bg-login.png" alt="" />
        </div>
        <div class="login-form">
          <h1
            class="login-title text-2xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl nodark:text-white"
          >
            Sign in to your account
          </h1>
          <form>
            <div class="mb-3">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 nodark:text-gray-300"
                >Your email</label
              >
              <input
                type="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 nodark:bg-gray-700 nodark:border-gray-600 nodark:placeholder-gray-400 nodark:text-white nodark:focus:ring-blue-500 nodark:focus:border-blue-500"
                placeholder="xyz@gmail.com"
                required
              />
            </div>
            <div class="mb-3">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 nodark:text-gray-300"
                >Your password</label
              >
              <input
                type="password"
                id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 nodark:bg-gray-700 nodark:border-gray-600 nodark:placeholder-gray-400 nodark:text-white nodark:focus:ring-blue-500 nodark:focus:border-blue-500"
                required
              />
            </div>
            <div class="d-flex justify-content-between">
              <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                  <input
                    id="remember"
                    type="checkbox"
                    value=""
                    class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 nodark:bg-gray-700 nodark:border-gray-600 nodark:focus:ring-blue-600 nodark:ring-offset-gray-800"
                    required=""
                  />
                </div>
                <label
                  for="remember"
                  class="ml-2 text-sm font-medium text-gray-900 nodark:text-gray-300"
                  >Remember me</label
                >
              </div>
              <div>
                <a
                  class="ml-2 text-sm font-medium text-gray-900 nodark:text-gray-300"
                  routerLink="../forgot-pwd"
                  >forgot password</a
                >
              </div>
            </div>
            <button
              routerLink="../categories"
              type="submit"
              class="w-full text-white bg-slate-900 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center nodark:bg-primary-600 nodark:hover:bg-primary-700 nodark:focus:ring-primary-800"
            >
              Login
            </button>
            <p
              class="text-sm font-light text-gray-500 nodark:text-gray-400"
              style="margin-top: 15px"
            >
              Dont't have an account?
              <a
                routerLink="../register"
                class="font-medium text-primary-600 hover:underline nodark:text-primary-500"
                >Signup here</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
